<%= form_for(@zhitiao) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
    <%= f.text_area :content, placeholder: "发布新纸条..." %>
    </div>
    <%= f.submit "提交", class: "btn btn-primary" %>
<% end %>